<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box">
        <h3>Breakfast</h3>
        <% Meals.forEach(function(bf){ %>
            <% if(bf.meal==="Breakfast"){ %>      
        <form action="/delete" method="POST">
            <div class="item">
                <button class="btn fas fa-trash-alt" name= "itemId" value="<%= bf._id %>"onChange="this.form.submit()"></button>
                <p><%= bf.content %></p>
            </div>
        </form>
        <% }}) %>
        <form class="item" action="/" method="POST">
            <input name="mealContent" type="text" class="form-control">
            <button name="meal" type="submit" name="" value="Breakfast">+</button>
        </form>
    </div>


    <div class="box">
        <h3>Lunch</h3>
        <% Meals.forEach(function(lh){ %>
           <% if(lh.meal==="Lunch"){ %>      
        <form action="/delete" method="POST">
            <div class="item">
                <button class="btn fas fa-trash-alt" name= "itemId" value="<%= lh._id %>"onChange="this.form.submit()"></button>
                <p><%= lh.content %></p>
            </div>
        </form>

        <% }}) %>

        <form class="item" action="/" method="POST">
            <input name="mealContent" type="text" class="form-control">
            <button name="meal" type="submit" name="" value="Lunch">+</button>
        </form>
    </div>




</body>

</html>